In [5]:
print("choose operation:")
print("1.add")
print("2.sub")
print("3.mul")
print("4.divide")
print("5.mod")
print("6.power")

num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
choice=int(input("enter your choice 1/2/3/4/5/6:-"))
def add(num1,num2):
    print('addition of %d + =%d'%(num1,num2,num+num2))
def sub(num1,num2):
    print('sub of %d - %d=%d'%(num1,num2,num1-num2))
def mul(num1,num2):
    print('mul of %d * %d=%d'%(num1,num2,num1*num2))
def division(num1,num2):
    print('division of %d / %d=%d'%(num1,num2,num1/num2))
def mod(num1,num2):
    print('mod of %d % %d=%d'%(num1,num2,num1%num2))
def power(num1,num2):
    print('power of %d ** %d=%d'%(num1,num2,num1**num2))
    
if choice==1:
    add(num1,num2)
elif choice==2:
    sub(num1,num2)
elif choice==3:
    mul(num1,num2)
elif choice==4:
     division(num1,num2)
elif choice==5:
     mod(num1,num2)
elif choice==6:
     power(num1,num2)
else:
     print('invalid choice')

choose operation:
1.add
2.sub
3.mul
4.divide
5.mod
6.power
enter first number:5
enter second number:5
enter your choice 1/2/3/4/5/6:-3
mul of 5 * 5=25

# list
+ list is a collection of hetrogenous data elements
+ list is mutable
+ list is representation []
+ list is supports slicing(:)
### syntax:
+ variablename=[]

In [6]:
l1=[]
type(l1)

list

In [7]:
l1=[1,2,3,'hi','hello',10.25]
l1

[1, 2, 3, 'hi', 'hello', 10.25]

In [11]:
l2=[4,5,6,'hru']
l1+l2

[1, 2, 3, 'hi', 'hello', 10.25, 4, 5, 6, 'hru']

In [12]:
l2=[4,5,6,'hru']
l3=l1+l2
print(l3)

[1, 2, 3, 'hi', 'hello', 10.25, 4, 5, 6, 'hru']

In [13]:
# forward index:
l3[3]

'hi'

In [14]:
l3[6]

4

In [18]:
# backword index:
l3[-1]

'hru'

In [17]:
l3[-4]

4

In [19]:
#slicing oprerator:
l3[3:5]

['hi', 'hello']

In [20]:
# reverse a list
l3[::-1]

['hru', 6, 5, 4, 10.25, 'hello', 'hi', 3, 2, 1]

In [21]:
l3[0:11:2]

[1, 3, 'hello', 4, 6]

In [37]:
# list methods:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
l3.append(10)
l3

[1,
 2,
 3,
 'hi',
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10]

In [36]:
l3.append([11,12])
l3

[1,
 2,
 3,
 'hi',
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10,
 [11, 12]]

In [43]:
l3[11][5]

TypeError: 'int' object is not subscriptable

In [49]:
l3.count(10)

9

In [47]:
l3.index(5)

7

In [53]:
# insert 
s=['a','o']
s.insert(1,'e')
s

['a', 'e', 'o']

In [54]:
s.insert(2,'i')
s

['a', 'e', 'i', 'o']

In [55]:
s.insert(4,'u')
s

['a', 'e', 'i', 'o', 'u']

In [56]:
#difference b/w pop--->remove elements as per lifo,
#remove--->value based
#del-->index value based

In [60]:
l3.pop(5)

4

In [63]:
l3.remove(5)

In [61]:
l3

[1,
 2,
 3,
 'hello',
 10.25,
 5,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10]

In [65]:
# sort
l4=[4,7,8,1,4,9,1]
l4.sort()
l4

[1, 1, 4, 4, 7, 8, 9]

In [67]:
# reverse
l4.sort(reverse=False)
l4

[1, 1, 4, 4, 7, 8, 9]

In [68]:
l4.sort(reverse=True)
l4

[9, 8, 7, 4, 4, 1, 1]

In [70]:
#copy 1.=,2. copy method
l5=l3
l5
l3

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10]

In [71]:
l6=l3.copy()
l6

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10]

In [72]:
l3.append(14)
l3

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10,
 14]

In [73]:
l5

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10,
 14]

In [74]:
l6

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10]

In [75]:
l6=l3.copy()
l6

[1,
 2,
 3,
 'hello',
 10.25,
 6,
 'hru',
 10,
 10,
 10,
 10,
 10,
 10,
 [11, 12],
 [11, 12],
 [11, 12],
 10,
 10,
 10,
 14]

In [76]:
#clear-->it removes all elements in a list
l3.clear()
l3

[]

In [77]:
l4

[9, 8, 7, 4, 4, 1, 1]

In [80]:
l4[1]=2
l4

[9, 2, 7, 4, 4, 1, 1]

In [81]:
l4[3]=7
l4

[9, 2, 7, 7, 4, 1, 1]

In [ ]:
#tuple:
#--->it is a collection of heterogenous data elemnets
# --->is immutable
#--->is representation()
#---> is supports slicing(:)
#syntax:
#varaible=()

In [82]:
# declaration of tuple:
tup=()
type(tup)

tuple

In [86]:
tup=(1,2,'welcome','workshop',45.25,4,6)
#type(tup)
tup

(1, 2, 'welcome', 'workshop', 45.25, 4, 6)

In [87]:
tup[2]
tup[5]
tup[-2]
tup[-5]

tup[0:]
tup[:]
tup[::-1]

(6, 4, 45.25, 'workshop', 'welcome', 2, 1)

In [88]:
# tuple methods
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [89]:
# packing & unpacking:
emp=('kq514','teju','developer','apssdc')
(eid,name,disg,comp)=emp
print(eid)

kq514

In [90]:
emp=('kq514','teju','developer','apssdc')
(eid,name,disg,comp)=emp
print(name)

teju

In [92]:
emp=('kq514','teju','developer','apssdc','ongole')
(eid,name,disg,comp,place)=emp
print(place)

ongole

In [93]:
emp=('kq514','teju','developer','apssdc','ongole')
(eid,name,disg,comp,place)=emp
print(eid)
print(name)
print(place)

kq514
teju
ongole

In [94]:
tup

(1, 2, 'welcome', 'workshop', 45.25, 4, 6)

### Dictonary:
+ it is a unordered collection of different data items
+ in dictonar we have 2 pairs those are key & value
+ key is fixed 
+ value will be changed
+ it's representation is--->{}
#### syntax:
+ varname={key:value}

In [97]:
address={}
type(address)

dict

In [99]:
address={'name':'teju','place':'ongole'}
address

{'name': 'teju', 'place': 'ongole'}

In [100]:
address['pincode']=523272
address

{'name': 'teju', 'place': 'ongole', 'pincode': 523272}

In [101]:
# dictonary methods:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [102]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [103]:
address.values()

dict_values(['teju', 'ongole', 523272])

In [104]:
address.items()

dict_items([('name', 'teju'), ('place', 'ongole'), ('pincode', 523272)])

In [105]:
# get-->it is used to display only one single data
address.get('name')

'teju'

In [107]:
address.pop('pincode')

523272

In [111]:
address2={'place':'ongole','pincode':523272,'name':'teju'}
address2

{'place': 'ongole', 'pincode': 523272, 'name': 'teju'}

In [112]:
address.update(address2)

In [113]:
address

{'name': 'teju', 'place': 'ongole', 'pincode': 523272}

In [116]:
address['name']='tejaswini'

In [117]:
address

{'name': 'tejaswini', 'place': 'ongole', 'pincode': 523272}

In [118]:
address['name']='teju'

In [119]:
address

{'name': 'teju', 'place': 'ongole', 'pincode': 523272}

In [120]:
address

{'name': 'teju', 'place': 'ongole', 'pincode': 523272}

In [121]:
#fromkeys:
address3=dict.fromkeys(address)
address3

{'name': None, 'place': None, 'pincode': None}

In [122]:
address3=dict.fromkeys(address,'fields')
address3

{'name': 'fields', 'place': 'fields', 'pincode': 'fields'}

#### Set:--> it is a collection of elements
##### syntax:
+ var={1,2,3,4}

In [123]:
a={1,2,3,1,2,3,6,7,8,5}
a

{1, 2, 3, 5, 6, 7, 8}

In [124]:
b=(10,11,12,13,14)
b

(10, 11, 12, 13, 14)

In [125]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [127]:
a={1,2,3,1,2,3,6,7,8,5,14,15}
a

{1, 2, 3, 5, 6, 7, 8, 14, 15}

In [128]:
a.union(b)

{1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15}

In [130]:
a.intersection(b)

{14}

In [131]:
a.difference(b)

{1, 2, 3, 5, 6, 7, 8, 15}

In [137]:
a.add(9)

In [138]:
a

{1, 2, 3, 5, 6, 7, 8, 9, 14, 15}

In [139]:
a.pop()

1

In [140]:
a

{2, 3, 5, 6, 7, 8, 9, 14, 15}

In [141]:
# list comphesions---->  written only single line of code
for temp in range(0,10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [143]:
d=[i for i in range(0,10)]
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
list(i for i in range(0,20+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [148]:
list(i for i in range(0,50+1)if i%2==0)

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [149]:
list(i for i in range(0,50+1)if i%2!=0)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

### Regular expressions:
+ regular expressions are nothing but patterns
+ we can implement password,email,phone number validation by using this concept
+ \d--->matches digits
+ \D--->except digits
+ \W--->except special symbols
+ while using the regular expression we have to use re moudle
+ re module methods-->search,findall,match
##### syntax:
modulename.methodname.pattern,value or variable name)

In [151]:
import re
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [152]:
import re
re.search('^k','knowledge&nonviolance')

In [153]:
import re
re.search('e$','knowledge&nonviolance')

In [154]:
import re
re.search('.','knowledge&nonviolance')

In [155]:
import re
re.search('.....','knowledge&nonviolance')

In [156]:
import re
re.search('\s','knowledge & nonviolance')

In [157]:
import re
re.findall('\s','knowledge & nonviolance')

[' ', ' ']

In [158]:
import re
re.findall('\S','knowledge & nonviolance')

['k',
 'n',
 'o',
 'w',
 'l',
 'e',
 'd',
 'g',
 'e',
 '&',
 'n',
 'o',
 'n',
 'v',
 'i',
 'o',
 'l',
 'a',
 'n',
 'c',
 'e']

In [159]:
import re
re.findall('\d','20kq5a0514')

['2', '0', '5', '0', '5', '1', '4']

In [160]:
import re
re.findall('\D','20kq5a0514')

['k', 'q', 'a']

In [161]:
import re
re.findall('\W','tejaswini@gmai.com')

['@', '.']

In [163]:
import re
re.findall('\w','tejaswini@gmail.com')

['t',
 'e',
 'j',
 'a',
 's',
 'w',
 'i',
 'n',
 'i',
 'g',
 'm',
 'a',
 'i',
 'l',
 'c',
 'o',
 'm']

In [166]:
# mobile no validation in india:
import re
re.search('^[6-9][0-9]{9}$| ^[0][6-9][0-9]{9}$ | [+][9][1][6-9][0-9]{9}$','7287853409' )

In [168]:
import re
re.search('^[6-9][0-9]{9}$| ^[0][6-9][0-9]{9}$ | [+][9][1][6-9][0-9]{9}$','728785python' )